body{
    font-family: 'Oswald', sans-serif;
    align-content: center;
    text-align: center;
}


form{
	width:40%;
	margin: auto;
	background: rgba(218,224,238.2);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 10px;
    text-align: center
	
}


#label_sup{
    margin-top: 30px;
}

#label_sup .contenedor h2{
    color:#fff;
    background: #2A1DC6;
    width: 40%;
    margin: auto;
}

input, textarea, select{
	width: 80%;
	margin-bottom: 5px;
	padding: 5 px;
	box-sizing: border-box;
	font-size:20 px;
	border: none;
}

label {
    font-size: 1em;
    color: #1E449C;
}

textarea{
	min-height:100px;
	max-height:200px;
	max-width: 100%;
}

#enviar{
	background: #2A1DC6;
	color: #fff;
	padding: 10px;
    width: 30%
}

#enviar:hover{
	cursor: pointer;
}

@media (max-width:700px){
	form{
		width:70%;
	}
    #label_sup .contenedor h2{
        width: 70%;
    }
}